<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
    <h1>Listing Users</h1>
    <% if @users %>
    <table class="table">
        <thead>
            <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Address</th>
            <th>Show</th>
            <th>Edit</th>
            <th>Destroy</th>
            </tr>
        </thead>
        <tbody>
            <% @users.each do |user| %>
            <tr>
            <td><%= user.first_name =%></td>
            <td><%= user.last_name =%></td>
            <td><%= user.email_address =%></td>
            <td><a href="/users/<%= user.id %>">Show</a></td>
            <td><a href="/users/<%= user.id %>/edit">Edit</a></td>
            <td>
                <a href= "users/<%= user.id %>" data-method='delete'>Delete</a>

            </td>
            </tr>
            <% end %>
        </tbody>
    </table>
    <% end %>
    <button class="btn btn-default"><a href="/new">New User</a></button>
    </div>
    <div class="col-md-2"></div>
</div>
